#header {
    background: rgba(0,0,0,0.9);
    width: 100%;
    position: fixed;
    z-index: 10;
}

.tabs {
    list-style:none;
    color: #fff;
}

.nav {
    /* width: 800px; Le establecemos un ancho
    margin:0 auto; Centramos automaticamente*/
    width: 80%;
    margin: auto;
    overflow:hidden;
    margin:0 auto;
    font-family:Arial, Helvetica, sans-serif;
}

.nav > li {
    float:left;
}
.tabs-item{
   cursor: pointer;
    }

.nav li {
    background-color: rgba(0,0,0,0.9);
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}
.tabs-item active{
    background: #fff;
    color: #000;
    }

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}
.panels-item{
    position: absolute;
    left: -5000px;
    }
.panels-item active{
    position: relative;
    left: 0;
    }
