:root {
    --size_image: 1.8rem;
    --size_image2: 1.2rem;
}

body {
    /* background-image: url(../image/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background: rgb(212,239,240); */
    background: linear-gradient(138deg, rgba(212, 239, 240, 1) 0%, rgba(82, 228, 185, 1) 23%, rgba(42, 233, 15, 1) 57%, rgba(26, 158, 208, 1) 100%);
    font-family: sans-serif;
}

.raiz {
    background: url(../image/raiz.png) no-repeat center left /300px;
    padding: 0.4rem 1.5rem 1.5rem 25rem;
    width: 900px;
    height: 300px;
    font-size: 20px;
}

.tallo {
    background: url(../image/tallo.png) no-repeat center left /300px;
    padding: 0.4rem 1.5rem 1.5rem 25rem;
    width: 900px;
    height: 300px;
    font-size: 20px;
}

.hoj {
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}

.hojas {
    display: inline-block;
    width: 300px;
    height: 300px;
}

.hojas img {
    width: 300px;
    height: 300px;
    border-radius: 25px;
}

.flor {
    background: url(../image/flor.png) no-repeat center left /300px;
    padding: 0.4rem 1.5rem 1.5rem 25rem;
    width: 900px;
    height: 300px;
    font-size: 16px;
}

.fruto {
    background: url(../image/fruto.png) no-repeat center left /300px;
    padding: 0.4rem 1.5rem 1.5rem 25rem;
    width: 900px;
    height: 300px;
    font-size: 20px;
}

.familia {
    background: url(../image/image2.png) no-repeat center left /300px;
    padding: 0.4rem 1.5rem 1.5rem 25rem;
    width: 900px;
    height: 300px;
    font-size: 20px;
}

.ubi {
    background: url(../image/image1.png) no-repeat center left /300px;
    padding: 0.4rem 0.4rem 1.5rem 25rem;
    width: 900px;
    height: 300px;
    font-size: 20px;
}

.alt {
    text-align: right;
}

.taxo {
    font-size: 14px;
}

.taxo h2 {
    display: inline;
}

.enfasis {
    font-style: oblique;
}

.maps1 {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    font-size: 12px;
}

.images_cont {
    display: inline-block;
    width: 300px;
    height: 300px;
}

.img1 {
    background: url(../image/image1.png) no-repeat center left /300px;
    padding: 0.4rem;
}

.img2 {
    background: url(../image/image2.png) no-repeat center left /300px;
    padding: 0.4rem;
}

.img3 {
    background: url(../image/image3.png) no-repeat center left /300px;
    padding: 0.4rem;
}

.img4 {
    background: url(../image/image4.png) no-repeat center left /300px;
    padding: 0.4rem;
}

.img5 {
    background: url(../image/image5.png) no-repeat center left /300px;
    padding: 0.4rem;
}

.img6 {
    background: url(../image/image6.png) no-repeat center left /300px;
    padding: 0.4rem;
}

.img7 {
    background: url(../image/image7.png) no-repeat center left /300px;
    padding: 0.4rem;
}

.img8 {
    background: url(../image/image8.png) no-repeat center left /300px;
    padding: 0.4rem;
}

.cont_image {
    margin: 20px;
    width: 400px;
    height: 400px;
    display: inline-block;
}

.txt_title {
    text-align: left;
    background: url(../image/Euphorbia_Graminea.png) no-repeat center right /400px;
    padding: 0 1.5rem 1.5rem 1.5rem;
    width: 100%;
    height: 400px;
    font-weight: bold;
    font-size: 24px;
}

.image {
    width: 300px;
    height: 300px;
    border-radius: 25px;
}

.title-central {
    color: blue;
    text-align: center;
    font-style: oblique;
}

.title-1 {
    text-align: center;
    font-size: 20px;
}

.title-2 {
    color: red;
}

.title-3 {
    color: yellow;
}

.inicio {
    text-align: center;
    font-size: 12px;
    color: brown;
}

.ilustracion {
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.ilust_contain {
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.ext_link {
    background: url(../image/external_link.png) no-repeat center right /var(--size_image2);
    padding: 0.4rem 1.5rem 0.4rem 0.4rem;
}

.pdf {
    background: url(../image/icopdf.png) no-repeat center right /var(--size_image2);
    padding: 0.4rem 1.5rem 0.4rem 0.4rem;
}

a:hover {
    color: azure;
}