:root {
    --size_image: 1.8rem;
    --size_image2: 1.2rem;
    --size-borde: 5px;
}

body {
    background-image: url(../image/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background: linear-gradient(138deg, rgba(212, 239, 240, 1) 0%, rgba(82, 228, 185, 1) 23%, rgba(42, 233, 15, 1) 57%, rgba(26, 158, 208, 1) 100%); */
    font-family: sans-serif;
    overflow: hidden;
}

a:hover {
    color: azure;
}

.familia, .ubi, .raiz, .tallo, .hojas, .flor, .fruto {
    font-weight: bold;
    text-overflow: ellipsis;
}

.alt {
    text-align: right;
}

.taxo h2 {
    display: inline;
}

.yasuni li {
    color: rgb(207, 163, 18);
    font-weight: bold;
}

.yasuni li p {
    color: #ffffff;
    font-weight: normal;
}

.enfasis {
    font-style: oblique;
}

.images_cont {
    display: grid;
}

.img img {
    border-radius: var(--size-borde);
    width: 100%;
}

.txt_title {
    font-weight: bold;
    text-overflow: ellipsis;
}

.title-central {
    color: blue;
    text-align: center;
    font-style: oblique;
}

.title-1 {
    text-align: center;
}

.title-2 {
    font-weight: bold;
    text-align: center;
    color: red;
}

.cuadro {
    text-align: center;
    color: rgb(155, 41, 20);
    background-color: rgb(9, 145, 199);
    font-weight: bold;
    border-radius: var(--size-borde);
}

.citas {
    color: rgb(207, 163, 18);
}

.citas p {
    color: #ffffff;
    font-weight: normal;
}

.ext_link {
    background: url(../image/external_link.png) no-repeat center right /var(--size_image2);
    padding: 0.4rem 1.5rem 0.4rem 0.4rem;
}

.pdf {
    background: url(../image/icopdf.png) no-repeat center right /var(--size_image2);
    padding: 0.4rem 1.5rem 0.4rem 0.4rem;
}

.hojas img {
    width: 100%;
    height: 100%;
}