.tabs-container {
    position: relative;
    width: 90%;
    height: 100%;
    margin: 0.5em auto;
}

.tabs {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    font-weight: bold;
}

.tabs-item {
    border: 1px solid #ccc;
    border-bottom: none;
    line-height: 2.5;
    padding: 0 0.5em;
    margin-right: 1px;
    border-radius: 10% 10% 0 0;
    position: relative;
    top: 1px;
    z-index: 0;
    cursor: pointer;
}

.tabs .active {
    background: rgba(42, 233, 15, 1);
    color: rgba(5, 5, 150, 1);
    font-weight: bold;
    z-index: 20;
}

.panels {
    border: 1px solid #ccc;
    padding: 1em;
    position: relative;
    z-index: 10;
    color: #fff;
}

.panels-item {
    position: absolute;
    left: -5000px;
}

.panels .active {
    position: relative;
    left: 0;
}

footer {
    padding: 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    color: rgb(207, 163, 18);
    font-weight: bold;   
    width: 90%;
    margin: 0 auto;
}

.tabs1, .tabs2 {
    margin: 0;
    padding: 0;
    display: flex;
    font-weight: bold;
}

.tabs-item1, .tabs-item2 {
    border: 1px solid rgb(15, 204, 195);
    border-bottom: none;
    line-height: 2.5;
    padding: 0 0.5em;
    margin-right: 1px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    position: relative;
    top: 1px;
}

.tabs1 .active, .tabs2 .active {
    background: rgba(42, 233, 15, 1);
    color: rgb(187, 15, 9);
    font-weight: bold;
    z-index: 20;
}

.panels1, .panels2 {
    border: 1px solid rgb(15, 204, 195);
    padding: 0 1em;
    position: relative;
    z-index: 10;
    color: #fff;
}

.panels-item1, .panels-item2 {
    position: absolute;
    left: -7000px;
}

.panels1 .active, .panels2 .active {
    position: relative;
    left: 0;
}

/* -- efecto en el scroll --*/

/* 
::-webkit-scrollbar {}  => Barra de desplazamiento 
::-webkit-scrollbar-button {}  => Los botones (flechas que apuntan hacia arriba y hacia abajo)
::-webkit-scrollbar-thumb {}  => indicador de desplazamiento
::-webkit-scrollbar-track {}  => Contenedor de la barra de progreso 
::-webkit-scrollbar-track-piece {}  => barra de progreso
::-webkit-scrollbar-corner {}  => Esquina inferior de las barras de desplazamiento 
::-webkit-resizer {} => Arrastrable para cambiar de tamaño
 */

::-webkit-scrollbar {
    width: 10px;
    /*=> ancho del scroll*/
    background-color: #cecece;
    /*=> Color del fondo principal */
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.3);
    /*=> color de fondo del trayecto del scroll */
    box-shadow: inset 0 0px 10px rgba(0, 0, 0, 0.38);
    /*=> sombra */
}

::-webkit-scrollbar-thumb {
    background-color: #ababab;
    /*=> color del indicador del scroll */
    border-radius: 10px;
    /*=> bordes redondeados */
    box-shadow: inset 0 2px 15px rgb(255, 255, 255);
    /*=> sombra */
}
